.container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
}

