.nav{
   background:linear-gradient(rgba(36, 37, 37, 0.75),rgba(5, 7, 12,0.75));
   padding-top: 30px;
   padding-bottom: 30px;
   display: flex;
   justify-content: space-around;
  align-items: center;
 
}

.link{
   display: flex;
   gap: 10rem;
   
}
 
.sublink{
   position: relative;
   text-decoration: none;
   color: white;
   font-size: 18px;
   letter-spacing: .5px;
   padding: 0 20px;
   cursor: pointer;
}



 
